
    
        *{
            font-family: Calibri;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
        }
       
        .item1 {
            border: 1px solid black;
           
        }
        .item2 {
            display: grid;
            border: 1px solid black;
        }
      
       